/* Global Variables */
:root {
  --light: #fff;
  --light-accent-1: teal;
  --light-accent-2: orange;

  --dark: #000;
  --dark-accent-1: cyan;
  --dark-accent-2: yellow;

  --success-light: rgb(0, 140, 0);
  --danger-light: red;
  --calm-light: rgb(0, 153, 255);

  --success-dark: rgb(100, 255, 100);
  --danger-dark: rgb(255, 100, 100);
  --calm-dark: rgb(255, 255, 100);

  --main-color: #f00;
  --bg-color: #ffeaea;
}
::selection {
	background-color: #ffeaea !important;
	color: #000;
}

/* General Settings */
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hide;
  color: inherit;
  transition: 200ms;
  scrollbar-width: none;
  font-weight: 400;
  line-height: 1.25;
}
body {
  margin: 0px;
  background-color: var(--bg-color) !important;
  cursor: url("/cursors/default.cur"), default;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  width: 100% !important;
  padding: 0 20px !important;
}
main {
  padding: 0 !important;
}

button > a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
a {
  color: var(--main-color);
}
a:hover {
  cursor: url("/cursors/pointer.cur"), pointer;
}
button:hover {
  cursor: url("/cursors/pointer.cur"), pointer !important; 
}
summary:hover {
  cursor: url("/cursors/pointer.cur"), pointer !important; 
}

.navbar {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-container .title {
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
  letter-spacing: 4px;
  position: relative;
}
.logo-container .title::after {
	display: block;
	content: '';
	height: 20px;
	width: 100%;
	background-color: transparent;
	position: absolute;
	top: 6px;
	left: 6px;
	border-bottom: 2px solid var(--main-color);
	border-right: 2px solid var(--main-color);
}
.navbar > .logo-container > a {
  display: flex;
  gap: 10px;
}
.navbar > .menu {
  display: flex;
  align-items: center;
  gap: 25px;
  letter-spacing: 2px;
}
.navbar a {
  color: var(--dark);
  text-align: center;
}
.menu > .btn-dropdown {
  border: none !important;
}

a.underline::after {
  transition: 250ms;
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: relative;
  top: 5px;
}
a.underline:hover::after {
  width: 100%;
}
a.underline.active::after {
  width: 100%;
}

.react-photo-gallery--gallery img:hover {
  cursor: url('/cursors/pointer.cur'), pointer !important;
}
.react-photo-gallery--gallery img {
  object-fit: cover;
  min-height: 300px;
}
.react-photo-gallery--gallery > div > a {
  display: block;
}
.css-yrspe {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.category-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.link-img-container {
  overflow: hidden;
  position: relative;
}
.link-img-container * {
  transition: 2000ms;
}
.link-img-container > div {
  display: flex;
  opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: var(--dark);
	font-size: 2rem;
	letter-spacing: 5px;
}
.link-img-container > img {
  transition-timing-function: ease-out;
  object-fit: cover;
  display: block;
}
.link-img-container:hover > img {
  transform: scale(1.1);
  opacity: 0.2;
}
.link-img-container:hover > div {
  opacity: 1;
  cursor: url("/cursors/pointer.cur"), pointer;
}
.nav {
  display: none;
}
.nav__backdrop {
  transition: 500ms;
  display: none;
}
.nav__item:hover {
  cursor: url('/cursors/pointer.cur'), pointer !important;
}
.nav__item:hover > a.underline::after {
  width: 100%;
}

@media (max-width: 600px) {
  .logo-container .title {
    font-size: 1rem;
    letter-spacing: 5px;
    text-align: left;
  }
  .logo-container .title::after {
    display: none;
  }
}
@media (max-width: 1000px) {
  .nav-open .nav__backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.8;
  }
  .navbar > .menu {
    display: none;
  }

  .nav {
    z-index: 1;
    display: block;
    background: var(--light);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 3em rgba(0,0,0,.15);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
  }

  .nav__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px 80px;
    overflow-y: scroll;
  }

  .nav__item {
    margin-bottom: 1.5rem;
  }

  .nav__item::before {
    content: '';
  }

  .nav__toggle {
    position: absolute;
    top: 20px;
    left: 0;
    transform: translateX(-100%);
    background: var(--light);
    padding: 1rem 25px;
    border: 0;
    border-radius: .25em 0 0 .25em;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--dark);
    
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .hamburger::before { bottom: 6px; }
  .hamburger::after { top: 6px;}


  /* Navigation open styles */

  .nav-open .nav {
    transform: translateX(0);
    position: fixed;
  }

  /* Transitions */

  .nav-open .hamburger {
    transform: rotate(45deg);
  }

  .nav-open .hamburger::before {
    opacity: 0;
  }

  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }
}

.footer {
  padding: 30px;
  padding-bottom: 50px;
}